/* ###########################
Universal Styling
########################### */

h1, h2, h3, h4, h5, h6 {
	font-family: 'Arvo';
}

/* ###########################
Header Navigation
########################### */

.nav-links {
	font-family: 'Arvo';
}

.nav-links ul {
	float: right;
}

.nav-links ul li {
	display: inline;
	line-height: 75px;
	background-color: #333;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px 15px;
	margin: 0px 10px;
}

.nav-links ul li:hover {
	background-color: #005b8d;
	transition: .05s ease-in-out;
}

.nav-links ul li a {
	color: #fff;
}

.contain-to-grid {
	border-bottom: 3px solid #005b8d;
}

/* ###########################
Index / Login Page
########################### */

#index #index-link {
	text-align: center;
}

#index #index-link a,
#index #index-link input[type="submit"] {
	display: block;
	font-family: 'Arvo';
	color: #333;
	font-weight: 700;
	font-size: 50px;
	margin: 40px 0px;
}

#index #index-link input[type="submit"] {
	background-color: #fff;
	border: none;
}

#index #index-link a:hover,
#index #index-link input[type="submit"]:hover {
	color: #005b8d;
}

#index #index-link input[type="submit"] {
	margin-top: 210px;
}

/* ###########################
Authenticated Home Page
########################### */

#home > div:first-child {
	height: 400px;
}

#home h1 {
	padding-top: 90px;
}

#home input[type="submit"] {
	display: block;
	font-family: 'Arvo';
	color: #fff;
	font-weight: 700;
	font-size: 25px;
	background-color: #333;
	border: none;
	margin: 0px auto;
	padding: 10px 15px;
	border-radius: 5px;
	margin-top: 180px;
}

#home input[type="submit"]:hover {
	background-color: #005b8d;
}

#home .home-article {
	/*background-color: #f9f9f9;*/
	border: 3px #333 solid;
	border-radius: 2px;
	padding: 20px 20px;
	margin: 20px 0px;
	color: #333;
	transition: .05s ease-in-out;
}

#home .home-article h4 {
	color: #005b8d;
	transition: .05s ease-in-out;
}

#home .home-article:hover {
	border: 3px #005b8d solid;
	background-color: #005b8d;
	color: #005b8d;
	transition: .05s ease-in-out;
}

#home .home-article:hover h4 {
	color: #fff;
	transition: .05s ease-in-out;
}

#home .story-top {
	position: absolute;
	background-color: #005b8d;
	opacity: 1;
	height: 100%;
	width: 100.1%;
	display: none;
	margin-top: -20px;
	margin-left: -20px;
	color: #fff;
	padding: 20px 20px;
}

#home .story-top h4 {
	color: #fff;
}

#home .story-top p {
	font-size: 20px;
}

/* ###########################
Story Recommendation Page
########################### */

#story .image-header {
	background-image: url('../img/pocket_placeholder.png');
	background-size: cover;
	background-position: center;
	height: 250px;
	width: 100%;
}

#story .image-header h1 {
	font-size: 25px;
	color: #fff;
	margin-top: 160px;
}

#story .image-header h4,
#story .image-header a {
	font-size: 18px;
	font-style: italic;
	color: white;
}

#story .image-header h4 a:hover {
	text-decoration: underline;
}

#story_info {
	margin-top: 50px;
}

#story_info > section:first-child {
	line-height: 1.3;
}

#story_info > section:nth-child(2) p {
	font-size: 1.4em;
	font-family: "Arvo";
}

/*
#home .home-article:hover .story-top {
	display: block;
}*/

/*
.image-header {
	background-image:url('../img/pocket_placeholder.png');
	background-size: cover;
	background-position: center;
	height:500px;
	max-width: none;
	line-height: 500px;
}

.image-header a.button {
	background-color: #c48779;
	opacity: .9;
	border: 3px solid #a05d5d;
	font-family: 'Biko Regular', Avenir, sans-serif;
	font-size: 30px;
	border-radius: 10px;
}

.image-header a.button:hover {
	background-color: #a05d5d;
	text-decoration: none;
}
*/
