.navbar-bulletin {
	background-color: #55A7BE;
	border-color: none;
}

.navbar-brand {
	font-weight: bold;
}

.navbar a {
	color: #fff;
}

.nav > li > a:hover {
	background-color: transparent;
}

@media (min-width: 768px) {
	.navbar{
		border-radius: 0px;
	}
}