{% extends "base.html" %}
{% block content %}

<section role="main" id="home">
	<div class="row">
		<div class="large-6 med-6 small-6 columns">
			<h1>Welcome to Bulletin</h1>
			<p>Bulletin is an online tool here to enhance your reading experience. Use Bulletin to peruse the web for an array of articles, stories, and multimedia resources related directly to your own content. Bulletin works off of your Pocket account, a personalized extention of your own curated works.</p>

			<p>Simply login with your <a href="https://getpocket.com/" target="_blank">Pocket</a> account to get going. Happy perusing!</p>
		</div>
		<div class="large-6 med-6 small-6 columns">
			<form action="" method="post" name="load">
				{{form.hidden_tag()}}
				<input type="submit" value="Load Stories from Pocket">
			</form>
		</div>
	</div>

	<div class="row">
		<hr />
	</div>

	{% if content %}
	<div class="row">
	{% for story in content %}
		<a href="{{url_for('story', id=story.id)}}">
			<article class="small-12 columns home-article">
				<div class="story-top">
					<h4>Select</h4>
					<p>Click to get context...</p>
				</div>
				<h4>{{story.title}}</h4>
				<p>{{story.excerpt}}</p>
			</article>
		</a>
	{% endfor %}
	</div>
	{% endif %}
</section>

{% endblock %}
