{% extends "base.html" %}
{% block content %}

<section role="main" id="index">
	<div class="row">
		<div class="large-6 med-6 small-6 small-centered columns" id="index-link">
			<form action="" method="post" name="login">
				{{form.hidden_tag()}}
				<input type="submit" value="Sign in with Pocket">
			</form>
		</div>
	</div>

	<div class="row">
		<div class="small-4 small-centered columns">
			<hr />
		</div>
	</div>

	<div class="row">
		<div class="small-6 small-centered columns" id="index-link">
			<a href="{{url_for('about')}}">What is Bulletin?</a>
		</div>
	</div>
</section>

{% endblock %}
