{% extends "base.html" %}

{% block content %}
{% if story %}
	<div class="row">
		<div class="large-6 medium-6 columns">
			<p><strong>Title:</strong> <a href="{{story.url}}">{{story.title}}</a></p>
			<p><strong>Source:</strong> {{story.url}}</p>
			<p>{{story.excerpt}}</p>
		</div>
		<div class="large-6 medium-6 columns">
			<h3>Meta Data</h3>
			<p><strong>Pocket Ref ID:</strong> {{story.pocket_id}}</p>
			<p><strong>Wordcount:</strong> {{story.wordcount}}</p>
			<p><strong>Tags:</strong> {{story.tags}}</p>
			<p><strong>Date Saved:</strong> {{date_saved.strftime('%B %d, %Y')}}</p>
		</div>
		<div class="large-12 medium-12 columns">
			<h3>Context Queries!</h3>
			{% if topics %}
				<ul>
				{% for topic in topics.keys() %}
					<li>{{topic}} -- {{topics[topic]['frequency']}}</li>
				</ul>
				{% endfor %}
			{% endif %}
			{% if related_stories %}
				{% for story in related_stories %}
					<p><strong><a target="_blank" href="{{story['story_url']}}">{{story['story_title']}}</a></strong></p>
					<p><strong>Source: </strong>{{story['story_source']}}</p>
				{% endfor %}
			{% endif %}
		</div>
	</div>
{% endif %}
{% endblock %}
