{% extends "base.html" %}
{% block content %}

{% if story %}
<section role="main" id="story">
	<div class="image-header">
		<div class="row">
			<div class="small-12 columns">
				<h1>{{story.title}}</h1>
				<h4>Saved on {{date_saved.strftime('%B %d, %Y')}} | <a href="{{story.url}}" target="_blank">(Source)</a></h4>
			</div>
		</div>
	</div>

	<div class="row" id="story_info">
		<section class="large-6 med-6 columns">
		{% for i in topics %}
			<span style="font-size: {{i[1]}}em"><a href="https://www.google.com/#q={{i[0]}}" target="_blank">{{ i[0] }}</a>{% if i != topics[-1] %},{% endif %}</span>
		{% endfor %}
		</section>
		<section class="large-6 med-6 columns">
			<p>{{ story.excerpt }}</p>
		</section>
	</div>

	<div class="row">
		<hr />
	</div>

	<!--
	<div class="row">
		<div class="large-6 medium-6 columns">
			<p><strong>Title:</strong> <a href="{{story.url}}">{{story.title}}</a></p>
			<p><strong>Source:</strong> {{story.url}}</p>
			<p>{{story.excerpt}}</p>
		</div>
		<div class="large-6 medium-6 columns">
			<h3>Meta Data</h3>
			<p><strong>Pocket Ref ID:</strong> {{story.pocket_id}}</p>
			<p><strong>Wordcount:</strong> {{story.wordcount}}</p>
			<p><strong>Tags:</strong> {{story.tags}}</p>
			<p><strong>Date Saved:</strong> {{date_saved.strftime('%B %d, %Y')}}</p>
		</div>
		<div class="large-12 medium-12 columns">
			<h3>Context Queries!</h3>
			{% if topics %}
				<ul>
				{% for i in topics %}
					<li>{{i[0]}} -- {{i[1]}}</li>
				</ul>
				{% endfor %}
			{% endif %}
			{% if related_stories %}
				{% for story in related_stories %}
					<p><strong><a target="_blank" href="{{story['story_url']}}">{{story['story_title']}}</a></strong></p>
					<p><strong>Source: </strong>{{story['story_source']}}</p>
				{% endfor %}
			{% endif %}
		</div>
	</div>-->
</section>
{% endif %}
{% endblock %}
