{% extends "base.html" %}
{% block content %}

{% if story %}
<section role="main" id="story">
	{% if story.image_url != None %}
	<div class="image-header" style="background-image: url({{story.image_url}});">
	{% else %}
	<div class="image-header">
	{% endif %}
		<div class="row">
			<div class="small-12 columns">
				<h1>{{story.title}}</h1>
				<h4>Saved on {{date_saved.strftime('%B %d, %Y')}} | <a href="{{story.url}}" target="_blank">(Source)</a></h4>
			</div>
		</div>
	</div>

	<section class="row" id="story_info">
		<div class="large-6 med-6 columns">
			<h2>Related Topics</h2>
		{% for i in topics %}
			<span style="font-size: {{i[1]}}em"><a href="https://www.google.com/#q={{i[0]}}" target="_blank">{{ i[0] }}</a>{% if i != topics[-1] %},{% endif %}</span>
		{% endfor %}
		</div>
		<div class="large-6 med-6 columns">
			<ul>
				<li><a href="{{story.url}}" target="_blank">View Online</a></li>
				<li><a href="https://getpocket.com/" target="_blank">View on Pocket</a></li>
			</ul>
			<p>{{ story.excerpt }}</p>
		</div>
	</section>

	<div class="row">
		<hr />
	</div>

	<section id="related-content">
		<div class="row">
			<h2>Today's Bulletin</h2>
		</div>
		{% for related in related_stories %}
		<article class="row">
			<div class="large-6 med-6 small-6 columns">
				<h5>{{ related['story_title'] }}</h5>
				<p><em>{{ related['story_source'] }}</em></p>
			</div>
			<div class="large-6 med-6 small-6 columns">
				<ul>
					<li><a href="{{ related['story_url'] }}" target="_blank">View Online</a></li>
					<li><a href="{{url_prefix}}save?story_url={{related['story_url']}}&amp;id={{story.id}}" target="_blank">Save to Pocket</a></li>
					<li><a href="#">Get Context</a></li>
				</ul>
			</div>
		</article>
		{% endfor %}
	</section>

	<!--
	<div class="row">
		<div class="large-6 medium-6 columns">
			<p><strong>Title:</strong> <a href="{{story.url}}">{{story.title}}</a></p>
			<p><strong>Source:</strong> {{story.url}}</p>
			<p>{{story.excerpt}}</p>
		</div>
		<div class="large-6 medium-6 columns">
			<h3>Meta Data</h3>
			<p><strong>Pocket Ref ID:</strong> {{story.pocket_id}}</p>
			<p><strong>Wordcount:</strong> {{story.wordcount}}</p>
			<p><strong>Tags:</strong> {{story.tags}}</p>
			<p><strong>Date Saved:</strong> {{date_saved.strftime('%B %d, %Y')}}</p>
		</div>
		<div class="large-12 medium-12 columns">
			<h3>Context Queries!</h3>
			{% if topics %}
				<ul>
				{% for i in topics %}
					<li>{{i[0]}} -- {{i[1]}}</li>
				</ul>
				{% endfor %}
			{% endif %}
			{% if related_stories %}
				{% for story in related_stories %}
					<p><strong><a target="_blank" href="{{story['story_url']}}">{{story['story_title']}}</a></strong></p>
					<p><strong>Source: </strong>{{story['story_source']}}</p>
				{% endfor %}
			{% endif %}
		</div>
	</div>-->
</section>
{% endif %}
{% endblock %}
